body {
    font-family: 'Roboto Slab', serif;
    background-image: url('images/bg.jpg');
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h2 {
    text-align: center;
    font-size: 68px;
    margin-bottom: 18px;
}

.middle {
    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
}

div {
    display: flex;
    justify-content: center; 
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 168px;
    margin-top: 22px;
    padding: 20px;
    background-color: #036BB4;
    border-radius: 8px;
    color: white;
}